<app-header></app-header>
<main>
  <ul id="users">
<button (click)="openContactDialog()">Contact Us</button>
<div class="actions">
  <button (click)="openNewUser()">Add User</button>
</div>

@if (showContact) {
  <app-contact-form></app-contact-form>
}
@if (showAddUser) {
  <app-new-user 
       (newuser)="onAddUser($event)" 
       (close)="closeNewUser()">
  </app-new-user>
}

    @for (user of users; track user.id){
    <li>
      <app-user 
      [userObj]="user" 
      [isSelected]="user.id === selectedUser?.id" 
      (userselected)="onUserSelect($event)">
      </app-user>
    </li>
    }
  </ul>
  @if(selectedUser){
  <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
  }
  @else{
  <p>Please select a user to view his task</p>
  }
</main>